<div class="login__container">
  <mat-card class="login__card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill" class="login__control">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Type your email">
          <mat-error>Please enter a valid email address!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="login__control">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Type your password">

        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>

</div>
